.fluidContainer {
  padding-inline: clamp(20px, 5vw, 142px);
  padding-block: clamp(50px, 4vw, 80px);
}

@media screen and (min-width: 768px) {
  .fluidFloatingLabel {
    font-size: clamp(1rem, 3vw, 3rem);
    top: clamp(20px, 4vw, 63px);
    right: clamp(20px, 4vw, 58px);
  }

  .fluidHeading {
    font-size: clamp(1.7rem, 7vw, 8.81rem);
  }

  .fluidInput {
    padding-top: clamp(20px, 4vw, 40px);
    padding-bottom: clamp(10px, 2vw, 20px);
    padding-left: clamp(20px, 3vw, 68px);
    padding-right: clamp(130px, 15vw, 300px);
    font-size: clamp(4rem, 10vw, 13.1rem);
  }

  .sauceBottles {
    width: clamp(100px, 10vw, 205.17px);
    right: clamp(10px, 3vw, 40px);
  }

  .fluidSubText1Left {
    font-size: clamp(2rem, 3vw, 4rem);
  }

  .fluidSubText2Left {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  }

  .fluidSubTextRight {
    font-size: clamp(1rem, 3vw, 2.4rem);
  }

  .fluidSubTextRight_DONT_THINK {
    font-size: clamp(1rem, 3vw, 2.3rem);
  }
}
